# (mongodb TCP connect)only needed in self-hosted
MONGODB_URI=mongodb+srv://vercel-admin-user-6600cddedeac7159d5bdf1ea:RAupBd41OqzXbZpl@cluster0.9c5yp1a.mongodb.net/myFirstDatabase?retryWrites=true&w=majority

# (mongodb HTTP REST api)only needed in none-self-hosted 
MONGODB_ENDPOINT=https://data.mongodb-api.com/app/data-aybhc/endpoint/data/v1
MONGODB_DATA_SOURCE=Cluster0
MONGODB_USER=vercel-admin-user-6600cddedeac7159d5bdf1ea
MONGODB_PWD=RAupBd41OqzXbZpl

# will override the config.ts
CommentRepoId=R_kgDOLgj5Og
CommentDiscussionCategoryId=DIC_kwDOLgj5Os4CeJyE
CloudflareAnalyze=xxxxxxxxxxxxxxxxxx
MSClarityId=xxxxxxxxxxxxx